<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stand UP! :: Bookmark</title>
    <style>
        body {
            background-size: cover;
        } 

        #box {
            position: relative;
            height: auto;
            margin: auto;
            padding-top : 20px;
        }
        #leftBox {
            float : left;
            height : 600px;
            width : 70%;
        }
        #rightBox {
            float: right;
            background-color : white;
            width : 25%;
            height : 600px;
            margin-left : 10px;
            opacity: 0.7;
            border-radius: 20px;
        }

        a {
            text-decoration-line : none;
            color : black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size : 25px;
        }
    </style>
</head>
<%- include('layouts/header'); -%>
<body background="public/background.jpg">
    <div id = "box">
        <iframe id="leftBox" name = "videoFrame" style="border-radius : 20px; border-style : solid; border-width : 1px; border-color : gray;" width="100%" height="80%"
            src="https://www.youtube.com/embed" allowfullscreen>
        </iframe>

        <div id = "rightBox" style = "padding-left : 30px;">
            <h1 style = "padding : 20px 0px 20px 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">📂 BOOKMARK LIST</h1>
            <br>
            <% for (var i=0, n = 1; i<bookmarks.length; i++) { %>
                <% if (bookmarks[i].userid == loggedIn) { %>
                <a href = " <%- bookmarks[i].link -%> " target = "videoFrame" style = "padding-left : 20px;">
                    Bookmarked video #<%- n++ %> 
                </a><br><br>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>